{% extends "base.html" %}
{% block content %}

<div class="card" style="width: 18rem;">

{% if cars.image %} 
<img src="{{ cars.image.url }}"  alt="Grocery image">

{% else %}
<img src="/static/Untitled.png "  alt="">

{% endif %}
  <div class="card-body">
    <h5 class="card-title">Mark: {{ cars.mark }}</h5>

    <p class="card-text">Description: {{ cars.description }}</p>

        <p class="card-text">Type: {{ cars.type }}</p>
        <p class="card-text"> Price: {{ cars.price }}</p>
    {% if not request.user == cars.author %}
    <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Buy</button>
    </form>
    {% endif %}

    {% if request.user == cars.author %}
    <a href="/vehicles/{{cars.id}}/update" class="btn btn-primary">Update</a>
    {% endif %}
  </div>
</div>

{% endblock %}