{% extends "base.html" %}
{% load static %}
{% block content %}
<h1 class="mt-5" style="text-align: center;">
    Profile
</h1>

<div class="container" style="margin-left: 40%;">
{% if profile.image %}
    <img src="{{ profile.image.url}}" style="width: 200px; height: 200px; border-radius: 50%;">
{% else %}
    <img src="{% static 'Untitled.png' %}" style="width: 200px; height: 200px; border-radius: 50%;">
{% endif %}
    <h2>{{ profile.user.username }}</h2>
    <h3>{{profile.user.first_name }}</h3>
    <h3>{{profile.user.last_name }}</h3>
  </div>

<div class="card" style="width: 16rem; margin-left: 40%;">
{% for car in  cars%}
{% if car.image %}
    <img src="{{ car.image.url }}" alt="Post image">
{% else %}
    <img src="{% static 'Untitled.png' %}" alt="Post image">
{% endif %}
  <div class="card-body">
 <h3> <p>{{ car.mark }}</p> </h3> 
    <a href="/vehicles/{{car.id}}/" class="btn btn-primary">Car details </a>
  </div>
</div>
{% endfor %}
{% endblock %}